*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body, html{
  background-color: #101314;
  color: #BFBFBA;
}
html::-webkit-scrollbar{
  width: .5rem;
}
html::-webkit-scrollbar-thumb{
  background-color: #5BC0De;
  border-radius: .3rem ;
}




/* Anime */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
